@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


h2{
  font: italic normal 900 96px/128px Merriweather;
}
h3{
  font: italic normal 900 72px/72px Merriweather;
}
h4{
  font: italic normal 900 48px/64px Merriweather;
}
h5{
  font: italic normal 900 24px/36px Merriweather;
}
p{
  font: normal normal normal 16px/24px Lato;
  color: #00000099;
}
a{
  font: normal normal bold 24px/24px Lato;
}
